* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}

body {
  animation: color 8s infinite linear;
  font-size: larger;
  /* margin: 100px auto 0; */
  padding: 50px;
  font-style: oblique;
  text-align: center;
}

#high-score {
  color: rgb(37, 145, 149);
  background-color: rgb(150, 17, 17);
  padding: 0 10px;
  border-radius: 15px;
  position: absolute;
  right: 45%;
  text-decoration:underline;
}

#clear-scores {
  position: absolute;
  left: 3%;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(52, 63, 190);
}
#clear-scores:hover {
  background-color:rgb(165, 190, 52);
  color: #182d9a;
}

#go-back {
  position: absolute;
  right: 5%;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(165, 190, 52);
  background-color: rgb(52, 63, 190);;
}
#go-back:hover {
  background-color:  #182d9a;
  color: white;
}