* {
  margin: 0;
  padding: 0;
}

@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}

body {
  animation: color 8s infinite linear;
  font-size: larger;
  padding: 50px;
  font-style: oblique;
  text-align: center;
  display: flexbox;
  flex-wrap: wrap;
}

#high-score {
  background-color: rgb(153, 11, 11);
  border-radius: 15px;
  font-size: 25px;
  font-weight: bolder;
  display: flexbox;
  flex-wrap: wrap;
  font-family: Georgia;
  color: aliceblue;
  width: 500px;
  margin: 50px auto 0;
}

#score-list {
  color: rgb(233, 238, 243);
  font-size: 25px;
  position: relative;
  left: 35%;
  font-family: cursive;
}

#clear-scores {
  position: absolute;
  left: 3%;
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(52, 63, 190);
}

#clear-scores:hover {
  background-color:rgb(165, 190, 52);
  color: #182d9a;
}

#go-back {
  position: absolute;
  right: 5%;
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(165, 190, 52);
  background-color: rgb(52, 63, 190);;
}

#go-back:hover {
  background-color:  #182d9a;
  color: white;
}