* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}

body {
  animation: color 8s infinite linear;
}

#quiz-container {
  max-width: 600px;
  margin: 30px auto;
  color: rgb(32, 75, 174);
  font-size: 25px;
  padding: 55px;
}

#options {
  font-weight: bolder;
  margin: 30px;
  display:table;
  padding: 5px;
  line-height: 35px;
  cursor: pointer;
}

#options li:hover {
  /* background-color: rgb(103, 84, 171); */
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

#start-container {
  display: flexbox;
  flex-wrap: wrap;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 0px;
  font-style: oblique;
  text-align: center;
  color: rgb(9, 10, 10);
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

#text {
  padding: 20px;
  font-size: 20px;
}
#start-button {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 100px auto 0;
  padding: 1px 15px;
  position: absolute;
  right: 47%;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(52, 63, 190);
}
#start-button:hover {
  background-color: rgb(35, 169, 61);
  color: rgb(89, 24, 98);
}

#view-scores-button {
  position: absolute;
  top: 5%;
  left: 1%;
  font-size: 20px;
  background-color: rgb(11, 52, 167);
  color: floralwhite;
  font-family: cursive;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  opacity: .8;
}
#view-scores-button:hover {
  background-color: rgb(116, 93, 136);
  color: black;
}


#score-container {
  font-size: 25px;
  font-weight: bolder;
  color: aliceblue;
  display: flexbox;
  flex-wrap: wrap;
  max-width: 600px;
  width: 500px;
  margin: 250px auto 0;
}
#submit {
  font-size: 20px;
  padding: 0px 10px;
  cursor: pointer;
  background-color: #6921a9;
  color: aliceblue;
}
#submit:hover {
background-color: dimgray;
color: white;
}

#initials {
  font-size: 20px;
  padding: 0px;
  color: #032329;
  font-family: roboto;
}
